@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item">
        <div style="display: flex; align-items:center">Hello<a class="nav-link" asp-controller="Account" asp-action="Entries">@UserManager.GetUserName(User).Substring(0, @UserManager.GetUserName(User).IndexOf('@'))</a>
        </div>
    </li>
        <li class="nav-item">
            <form method="post" asp-controller="Account" asp-action="Logout">
                <button class="nav-link btn btn-link" href="#">Logout</button>
            </form>    
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>