<div style="text-align: center; font-family: 'Open Sans',Arial,sans-serif;font-size: 16px;">
    <h2>Welcome to Guestbook!</h2>
    <p>By clicking on the following link, you are confirming your email address.</p>
    <br /><br />
    <a href="{0}" style="text-decoration: none; font-weight: bold; color:#fff;background-color:#1b6ec2;font-size: 14px;padding: 12px 45px; border-radius: .3rem;">Confirm Email Address</a>
    <br /><br /><br />
    <p styly="font-size: 10px;">&copy; 2021 - Guestbook</p>
</div>
