@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">Welcome to The Guestbook, the online and mobile services of Guestbook. Our Privacy Policy explains how we collect, use, disclose, and protect information that applies to our Service, and your choices about the collection and use of your information.</p>
</div>
<p>We automatically collect certain types of usage information when you visit our website or use our Service. When you visit the Service, we may send one or more cookies — a small text file containing a string of alphanumeric characters — to your computer that uniquely identifies your browser and lets The Guestbook help you put your entry faster.</p>